CompileFlags:
  Add: [-std=c++20, -I/home/aa87/webdev/cpp-course/p1]
  Add: [-std=c++20, -I/home/aa87/webdev/cpp-course/p2]
  Add: [-std=c++20, -I/home/aa87/webdev/cpp-course/p3]
  Add: [-std=c++20, -I/home/aa87/webdev/cpp-course/csv]
